.container {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.heading {
  font-size: 64px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.button {
  border: 0;
  background: none;
  font: inherit;
  padding: 10px 20px;
  background-color: black;
  background-image: linear-gradient(to bottom, #333, black);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.gridIsh {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.classrooms {
  grid-template-columns: repeat(auto-fill, 300px);
}

.count {
  color: rgba(0, 0, 0, 0.5);
}
