.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pfp {
  border-radius: 50%;
}

.name {
  font-weight: bold;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.count {
  font-weight: bold;
}
