.button {
  display: flex;
  padding: 10px 20px;
  background-color: black;
  background-image: linear-gradient(to bottom, #333, black);
  color: white;
  border-radius: 10px;
  align-self: flex-start;
}

.container button {
  border: 1px solid red;
}

.videos {
  display: flex;
  background-color: black;
  max-height: calc(100vh - 200px);
}

.video {
  flex: auto;
  width: 0;
}

.buttons {
  display: flex;
  gap: 10px;
}
